* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "header header nav nav"
        "main main main main"
        "main main main main"
        "footer footer footer footer";
}

.header {
    grid-area: header;
    background-color: black;
}

.header h1 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    color: white;
    animation-name: h1EnMovimiento;
    animation-duration: 10s;
}

.nav {
    grid-area: nav;
    background-color: black;
    margin: 20px;
    padding: 20px;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav li {
    list-style: none;
    padding: 10px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav a:hover {
    color: red;
}

.nav li:hover {
    transform: scale(0.75);
    transition: 0.5s;
}


.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    background: rgb(12, 12, 13);
    background: linear-gradient(90deg, rgba(12, 12, 13, 1) 30%, rgba(122, 122, 122, 1) 66%, rgba(0, 0, 0, 0.9220063025210083) 90%);
}

.footer li {
    color: white;
    list-style: none;
    margin: 20px;
}

.footer ul {
    display: flex;
}

.footer i {
    color: white;
    font-size: x-large;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    background-image: url(https://los40puebla.com/wp-content/uploads/2022/02/harry.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}

.main div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    margin: 50px 500px 50px 100px;
    font-family: 'Amiri', serif;
    font-family: 'Arvo', serif;
    font-family: 'Tai Heritage Pro', serif;
}

.main h2 {
    margin-bottom: 10px;
    font-size: 6vh;
}

.main p {
    font-size: larger;
}

@keyframes h1EnMovimiento {
    0% {
        width: 100px;
    }

    15% {
        width: 50px;
    }

    25% {
        width: 300px;
    }

    50% {
        width: 200px;
        background-color: red;
    }

    75% {
        width: 300px;
    }

    100% {
        width: 100px;
        background-color: darkgray;
    }
}

@media (max-width: 480px){
    .container{
        grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "main main main main"
        "footer footer footer footer";
}
    .nav ul {
        flex-direction: column
    }

    .main {
        background-image: none;
        background-color: rgb(29, 29, 29);
    }
    .main div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 10px 50px 50px 10px;
        font-family: 'Amiri', serif;
        font-family: 'Arvo', serif;
        font-family: 'Tai Heritage Pro', serif;
    }

    .main p {
        font-size: medium;
    }

    .main h2{
        font-size: 10vh;
    }

    .mainContacto{
        background-color: rgb(29, 29, 29);
        color: white;
    }
    }
